@font-face {
    font-family: 'AGLettericaCondensed-Bold';
    src: url('fonts/aglettericacondensed-bold.eot');
    src: url('fonts/aglettericacondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/aglettericacondensed-bold.woff') format('woff'),
         url('fonts/aglettericacondensed-bold.ttf') format('truetype'),
         url('fonts/aglettericacondensed-bold.svg#AGLettericaCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('fonts/sansationlight.eot');
    src: url('fonts/sansationlight.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansationlight.woff') format('woff'),
         url('fonts/sansationlight.ttf') format('truetype'),
         url('fonts/sansationlight.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
