body {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 50%, #dadada 100%);

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), 
              color-stop(50%,#ededed), color-stop(100%,#dadada));

  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 50%, #dadada 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ededed 50%, #dadada 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ededed 50%, #dadada 100%);
  background: linear-gradient(top, #ffffff 0%, #ededed 50%, #dadada 100%);
}

.wrapper {
  width:526px;
  margin:0 auto;
}