/* fonts */
body {
  font: 12px/1.231 'Droid Serif', serif;
}

select,input,button,textarea {
  font: 99% 'Droid Serif', serif;
}

table {
  font-size: inherit;
  font: 100%;
}

pre,code,kbd,samp,tt{
  font-family: monospace;
  line-height: 100%;
}

.footer {
  height: 40px;
  background: #666666;
}

.footer-text {
  padding-left: 20px;
  border-top: #6b6b6b solid 1px;
  padding-top: 15px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #ffffff;
}

.footer-text .droid-bold {
  font-weight: 700;
}